<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<style>
		{%- include "assets/css/inline.css" -%}
		</style>

		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
	</head>
	<body>
	<header>
		{{ metadata.title }} | <a href="https://www.linkedin.com/in/simonbrandhof/">linkedin</a>
	</header>

	<main>
			{{ content | safe }}
		</main>

		<!-- Current page: {{ page.url }} -->
	</body>
</html>
