<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<link rel="manifest" href="/site.webmanifest">
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@graph": [
				{
					"@type": "WebSite",
					"@id": "{{ site.url }}",
					"url": "{{ site.url }}",
					"name": "{{ site.title }}",
					"description": "{{ site.description }}",
					"inLanguage": "{{ page.lang }}"
				}
			]
		}
		</script>
	</head>
	<body class="bg-stone-800 text-white">
		<div class="lg:flex">
			<aside class="lg:flex lg:flex-col lg:h-screen lg:sticky lg:top-0 lg:flex-initial p-6 lg:p-10 lg:pr-20">
				<header class="text-5xl sm:text-7xl text-white font-bold flex-nowrap whitespace-nowrap">
					{% include "./" + page.lang + "/_title.html" %}
				</header>
				<ul class="lg:flex-grow">
				</ul>
				<footer class="max-lg:fixed max-lg:bottom-0 max-lg:bg-stone-800 max-lg:py-2 max-lg:w-full">
					<span class="">{{ messages[page.lang].language }}</span>
					{% for link in page.url | locale_links %}
						<a rel="alternate" hreflang="{{ link.lang }}" href="{{ meta.url }}{{ link.url }}" class="underline pl-2">{{ messages[link.lang].language }}
						</a>
					{% endfor %}
				</footer>
			</aside>
			<main class="lg:flex-1 p-6 lg:p-10">
					{{ content | safe }}
			</main>
		</div>
	</body>
</html>
