---
layout: layouts/skeleton.njk
---
<div class="lg:flex">
	<aside class="lg:flex lg:flex-col lg:h-screen lg:sticky lg:top-0 lg:flex-initial">
		<header class="text-5xl sm:text-7xl text-white font-bold flex-nowrap whitespace-nowrap font-serif p-6 lg:p-10 lg:pr-20">
			{% include "./" + page.lang + "/_title.html" %}
		</header>
		<div class="pt-14 text-xl lg:flex-grow print:hidden p-6 lg:p-10">
			<ul class="flex flex-row gap-x-3 lg:flex-col flex-wrap">
				{% for p in collections.page %}
					{% if p.data.lang == page.lang %}
						<li class="whitespace-nowrap">
							<a href="{{ p.url }}" class="{% if p.page.url != page.url %}underline{% endif %} hover:underline hover:decoration-double" {% if p.page.url == page.url %}aria-current="page"{% endif %}>{{ p.data.title }}</a>
							{% if p.data.icon != undefined %}
								<img src="{{ p.data.icon }}" class="inline h-5 w-5" alt="">
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<footer class="max-lg:fixed max-lg:bottom-0 max-lg:bg-stone-800 max-lg:py-4 max-lg:w-full print:hidden p-6 lg:p-10">
			<div class="flex flex-row gap-3">
				<div>
					<span class="inline-block align-text-top">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
					</span>
				</div>
				<div>
					{{ messages[page.lang].language }}
				</div>
				{% for link in page.url | locale_links %}
					<div>
						<a rel="alternate" hreflang="{{ link.lang }}" href="{{ meta.url }}{{ link.url }}" class="underline hover:decoration-double">{{ messages[link.lang].language }}</a>
					</div>
				{% endfor %}
				<div class="grow"> </div>
				<div>
					<a href="https://github.com/simonbrandhof/" class="underline hover:decoration-double max-md:hidden">GitHub</a>
					<a href="https://github.com/simonbrandhof/" class="md:hidden">
						<span class="inline-block align-sub">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
						</span>
					</a>
				</div>
				<div>
					<a href="https://www.linkedin.com/in/simonbrandhof/" class="underline hover:decoration-double max-md:hidden">LinkedIn</a>
					<a href="https://www.linkedin.com/in/simonbrandhof/" class="inline-block align-sub md:hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
					</a>
				</div>
			</div>
		</footer>
	</aside>
	<main class="lg:flex-1 p-6 lg:p-10 pb-20">
		{{ content | safe }}
	</main>
</div>
