---
layout: layouts/base.njk
---

<div class="lg:flex">
	<div class="lg:flex-1 p-6 lg:p-10">
		<p class="text-5xl sm:text-7xl text-white font-bold flex-nowrap whitespace-nowrap">
		{{ content | safe }}
		</p>
	</div>
	<div class="lg:flex-1 p-6 lg:p-10">
		<h2 class="leading-10 text-2xl sm:text-4xl font-bold pb-6">contributions</h2>
		<ul id="contributions">
			<!-- how to iterate the global files in _data/: https://github.com/11ty/eleventy/issues/304#issuecomment-440678396 -->
			{%- for key, link in links -%}
				<li class="py-2 text-xl">{{ link["title_" + locale] | md | safe }}</li>
			{%- endfor -%}
		</ul>
		<h2 class="leading-10 text-2xl sm:text-4xl font-bold pt-12 lg:pt-20 pb-6">friends & family</h2>
		<ul id="fandf">
			{%- for key, fandf in fandfs -%}
				<li class="py-2 text-xl">{{ fandf["title_" + locale] | md | safe }}</li>
			{%- endfor -%}
		</ul>
	</div>
</div>
