<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="generator" content="{{ eleventy.generator }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}">
	<meta property="og:title" content="{{ title or site.title }}">
	<meta property="og:description" content="{{ description or site.description }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:type" content="{{ og_type or "website" }}">
	<meta property="og:locale" content="{{ page.lang }}">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<link rel="manifest" href="/site.webmanifest">
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@graph": [
				{
					"@type": "WebSite",
					"@id": "{{ site.url }}",
					"url": "{{ site.url }}",
					"name": "{{ site.title }}",
					"description": "{{ site.description }}",
					"inLanguage": "{{ page.lang }}"
				}
			]
		}
		</script>
</head>
<body class="bg-stone-800 text-white">
  {{ content | safe }}
</body>
</html>
