---
layout: layouts/skeleton.njk
eleventyExcludeFromCollections: true
---
<script>
	// l10n: find the first supported language from the preferred languages configured in browser
	let path = "/{{ site.languages | first }}";
	const supportedLangs = [
	{% set comma = joiner() -%}
	{% for l in site.languages -%}
	{{ comma() }}"{{ l }}"
	{%- endfor %}];
	for (let i = 0; i < navigator.languages.length; i++) {
		let lang = navigator.languages[i].split("-")[0];
		if (supportedLangs.includes(lang)) {
			path = "/" + lang;
			break;
		}
	}
	window.location.href = path;
</script>
<noscript>
<div class="flex flex-row p-10 gap-5">
	<div>Select your language:</div>
	{% for l in site.languages -%}
		<div>
			<a href="/{{ l }}" lang="{{ l }}" class="underline hover:decoration-double">{{ messages[l].language }}</a>
		</div>
	{%- endfor %}
</div>
</noscript>
